# IntelliJ/PyCharm Files
.idea/
*.ipr
*.iws
*.iml

# Eclipse Files
.classpath
.project

# Build outputs
*.pyc

# Vagrant outputs
.vagrant

# OS hidden files
.DS_Store

# Visual Studio Code
.vscode/

# This app will use the disk to cache the access token
core/helpers/spotify_access_token.txt

# Keeps us from pushing our secrets to Github
slackbot_settings.py

# Schema migrations
yoyo.ini

# Logging file
nohup.out

# DB backup file
backup.txt